* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* Shered Style */
.font-work-sans {
  font-family: work sans;
  font-optical-sizing: auto;
}

.btn {
    padding: 20px 26px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.349);
}

.content-pd {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}



/* Main style */

/* Header | Hero-Container */
header {
    background-image: url("../assets/images/banner/banner1.png");
    background-size: cover;
}

.hero-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    padding: 216px 230px 166px 845px;
}

.hero-container h1 {
    max-width: 525px;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}

.hero-container p {
    max-width: 494px;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
}




/* About Section */
#about {
    padding: 130px 0;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 87px;
}

.about-container .about-content-img img {
    max-width: 569px;
}

.about-content {
    max-width: 416px;
}

.about-content h3 {
    max-width: 288px;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 24px;
}

.about-content #p {
    max-width: 416px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.about-content .about-content-tips p {
    max-width: 416px;
    font-size: 16px;
    margin-bottom: 8px;
}

.currect-icon {
    color: #16D887;
    width: 24px;
}



/* Plan Section */
#plan {
    padding: 130px 0 135px 0;
    text-align: center;
}

.plan-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#plan .text-center h2 {
    font-size: 40px;
    color: #151414;
    margin-bottom: 55px;   
}

.plan-container 
.plan-content 
.plan-comtent-img 
img {
    max-width: 92.96px;
}

.plan-container 
.plan-content h4 {
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}

.plan-container 
.plan-content p {
    font-size: 25px;
    color: #737272;
    font-weight: 500;
}



/* Contact Section */
.contact-container {
    background-image: url("../assets/images/gradient2.png");
    background-size: cover;
    border-radius: 5px;
}

.contect-content {
    padding: 59px 0 59px 64px;
}

.contect-content h2 {
    max-width: 459px;
    font-size: 40px;
    color: #FFF;
    margin-bottom: 24px;
}

.contect-content .btn-white, .footer-container .footer-subs .btn-white {
    background-color: #FFF;
    color: #F15B22;
    padding: 20px 36px;
}



/* Footer Sectoin | Fotter-Contant*/
footer {
    color: white;
    background-color: black;
}

.footer-container {
    /* width: 71%;
    max-width: 1140px; */
    
    margin: 130px auto 0;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-contant {
    max-width: 485px;
}

.footer-container .footer-contant h2 {
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-container .footer-contant #footer-p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.footer-container .footer-contant p {
    font-size: 16px;
    margin-bottom: 16px;
    margin-bottom: 32px;
}

.footer-container .footer-contant .footer-icon img {
    max-width: 47px;
    margin-right: 17px;
}

/* Fotter Subs */
.footer-container .footer-subs h3{
    font-size: 25px;
    margin-bottom: 31px;
}

.footer-container .footer-subs input[type="email"] {
    width: 325px;
    font-size: 18px;
    color: #F3F3F3;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
}
