* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shered Style */
.font-open-sans {
  font-family: Open sans;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
}

.color-org {
    color: #FD6E0A;
    font-weight: 900;
}

.btn {
    background-color: #FD6E0A;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 17px 35px;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 6px #0909096f;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    margin: 0 auto;
    /* align-items: center; */
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

.text-center {
    text-align: center;
}


/* Main Style */

/* Header | Navber-Section */
header {
    padding-top: 30px;
    background: url("../assets/images/developer.png"), url("../assets/images/header_bg.png"), #FFF8F3;
    background-position: 23px 35px, bottom right;
    /* background-position: top left, bottom right; */
    background-repeat: no-repeat;

}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

nav .menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}


/* Hero-Section  |  Hero-content */
#hero-container {
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-container .hero-content {
    max-width: 585px;
}

#hero-container .hero-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#hero-container .hero-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#hero-container .hero-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 33px;

}

#contact-btn {
    padding: 17px 24px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: transparent;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px 6px #fd6f0a5a;
    margin-left: 30px;
    cursor: pointer;
}


/* Hero-img */
#hero-container .hero-img img {
    max-width: 585px;
    vertical-align: middle;
}



/* About Section */
#about, #skill, #resume {
    padding-top: 130px;
}

.about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.21);
}

.about-container .section-heading p {
    text-align: start;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.info-card p , h4{
    font-size: 20px;
}

.info-card p {
    color: #757575;
    line-height: 30px;
}



/* Skill Section | Skill-content*/
.skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.skill-container .section-heading p {
    text-align: start;
}

.skill-container .section-heading {
    margin-bottom: 50px;
}


/* Skill Cards */
.skill-cards {
    display: flex;
    gap: 24px;
    text-align: start;
}

.card {
    max-width: 267px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px #0000002d;
}

.card .skill-img img {
    max-width: 44px;
    margin-bottom: 30px;
}

.card h2{
    max-width: 201px;
   font-size: 20px;
   color: #181818;
   margin-bottom: 20px;
}

.card p{
    max-width: 201px;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}



/* Resume Section | Education-content*/
.resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 71px;
}

.education h3 {
    margin-bottom: 30px;
    font-size: 30px;
}

.edu, .exp{
    max-width: 511px;
    margin-top: 30px;
    margin-right: 47px;
}

.edu h4, .exp h4{
    font-size: 25px;
    margin-bottom: 10px;
}

.edu h5, .exp h5 {
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    
}

.edu p, .exp p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}

.experience h3 {
    margin-bottom: 30px;
    font-size: 30px;
}



/* Footer Section */
footer {
    background-color: #FFF8F3;
    margin-top: 113px;
    padding: 130px 0;
}

.footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
    /* padding: 130px 230px; */
}

.footer-container .socail {
    max-width: 562px;
}

.footer-container h3 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container p {
    font-size: x;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-icon a {
    margin-right: 24px;
}

.footer-container .form input[type=text], .footer-container .form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    color: #757575;
    font-size: 16px;
}




