* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-fira-sans {
    font-family: Fira Sans;
    font-optical-sizing: auto;
}

/* Shered Style */
.sec-center {
    width: 92%;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}


/* Main Style */



/* Header Section | Navber */
header {
    padding-top: 25px;
    background-color: #F5F5F5;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo h2 {
    font-size: 28px;
    color: #0E0E0E;

}

.nav-container .sign-btn {
    padding: 12px 26px;
    border: 1.5px solid #006A50;
    border-radius: 8px;
    background-color: transparent;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
}

/* Hero Section */
#hero {
    padding-top: 38px;
}

.hero-container {
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 45px;
    
}

.hero-container .hero-content {
    max-width: 490px;
}

.hero-container .hero-content h5{
    font-size: 17px;
    color: #0E0E0E50;
    margin-bottom: 10px;
}

.hero-container .hero-content h2{
    font-size: 46px;
    color: #0E0E0E;
    margin-bottom: 16px;
}

.hero-container .hero-img img {
    max-width: 430px;
}






