* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-fira-sans {
    font-family: Fira Sans;
    font-optical-sizing: auto;
}

/* Shered Style */
.sec-center {
    width: 92%;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.374);
}

main, 
#vision, 
#opinion, 
#recent-news, 
#donate,
footer {
    padding-top: 50px;
    background-color: #F5F5F5;
}

.intro-text h2 {
    font-size: 30px;
    padding-bottom: 25px;
}

.intro-text-center {
    text-align: center;
}


/* Main Style */

/* Header Section | Navber */
header {
    padding-top: 25px;
    background-color: #F5F5F5;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo h2 {
    font-size: 28px;
    color: #0E0E0E;

}

.nav-container .sign-btn {
    padding: 12px 26px;
    border: 1.5px solid #006A50;
    border-radius: 8px;
    background-color: transparent;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
}

/* Hero Section */
#hero {
    padding-top: 38px;
}

.hero-container {
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 45px;
    
}

.hero-container .hero-content {
    max-width: 490px;
}

.hero-container .hero-content h5{
    font-size: 17px;
    color: #0E0E0E50;
    margin-bottom: 10px;
}

.hero-container .hero-content h2{
    font-size: 46px;
    color: #0E0E0E;
    margin-bottom: 16px;
}

.hero-container .hero-img img {
    max-width: 430px;
}



/* Main Section | Section Pillar */


.pillars-content, .vision-content {
    display: flex;
    justify-content: space-between;
}

.cards {
    max-width: 270px;
    padding: 20px;
    border: none;
    border-radius: 16px;
    background-color: #FFF;
}

.light-img img {
    max-width: 50px;
    margin-bottom: 18px;
}

.cards h5 {
    font-size: 18px;
    color: #0E0E0E;
    margin-bottom: 18px;
    margin-bottom: 8px;
}

.cards p {
    font-size: 14px;
    color: #0E0E0E80;
    line-height: 24px;
}



/* Vision Section */
.vision-content .cards {
    max-width: 370px;
    padding: 28px;
    margin-bottom: 25px;
    
}

.vision-content .vision-card-1 {
    background-color: #D5E1F5;
}

.vision-content .vision-card-2 {
    background-color: #C6E4D6;
}

.vision-content .vision-card-3 {
    background-color: #F7EBCF;
}

#vision .intro-text p , #recent-news .intro-text p  {
    font-size: 14px;
    color: #0E0E0E80;
    margin-bottom: 25px;
} 

.vision-content .cards p {
    margin-bottom: 40px;
}

.vision-content .vision-card-2 p{
    margin-bottom: 63px;   /* Margin | Check Here */
}

.vision-btn1 .btn {
    background-color: #5490F5;
}

.vision-btn2 .btn {
    background-color: #09A15C;
}

.vision-btn3 .btn {
    background-color: #FFC239;
}

/* Vision-Text-Content Section */
.vision-text-content {
    background: url("../assets/quote-bg.png") , #FFF;
    background-repeat: no-repeat;
    background-position: 30px 20px;
    border-radius: 16px;
}

.vt-container {
   padding: 45px 28px 30px;
}

.vision-text p {
   color: #3E3E3E;
   line-height: 24px;
   margin-bottom: 10px;
   font-size: 15px;
}


.vision-text h3 {
    color: #3E3E3E;
    font-size: 18px;
    margin-bottom: 10px;
}

.vision-text-2 p {
   color: #3E3E3E;
   line-height: 24px;
   margin-bottom: 10px;
}



/* Opinion Section */
.opinion-content {
    padding: 30px;
    background-color: #FFF;
    border-radius: 16px;
}

.opinion-box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;     
    border: 1.5px solid rgba(128, 128, 128, 0.313);
}


.opinion-box p {
    color: #0E0E0E;
    font-size: 15px;
    font-weight: 600;     
}

.op-btn {
    padding: 12px 14px;
    background-color: #C6E4D6;
    border: 1px solid black;
    border-radius: 4px;
    color: #0E0E0E;
    font-weight: 500;
}

.opinion-content .op-box1 {
    background-color: #C6E4D6;
}


.op-box2 , .op-box3, .op-box4 {
    border-top: none;
}



/* Recent News Section */
.recent-container {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: #FFF;
    margin-top: 20px;
    border-radius: 18px;
}


.recent-container .recent-img img {
    max-width: 360px;
    border-radius: 18px;
}

.recent-container .recent-content {
    max-width: 650px;
}

.recent-container 
.recent-content h2 {
    font-size: 28px;
    color: #3E3E3E;
    margin-bottom: 8px;
}

.recent-container 
.recent-content 
.recent-content-img 
img  {
    max-width: 130px;
    margin-bottom: 8px;
}

.recent-content .recent-content-T-D span {
    font-size: 16px;
    color: #3E3E3E;
}

.recent-container 
.recent-content p {
    margin: 8px 0 25px 0;
}

.recent-container 
.recent-content  
.recent-content-btn 
.btn
{
    padding: 15px 28px;
}



/* Donate Section */
.donate-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 25px;
    
}

.donate-box {
    background-color: #FFF;
    padding: 36px 40px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.301);
}

.d-box2 {
    background-color: #C6E4D6;
}



/* Footer Section */
footer {
    padding: ;
    
}

.footer-container {
    text-align: center;
    align-items: center;
    background-color: #C6E4D6;
    padding: 80px 265px;
}

footer .intro-text-center p {
    max-width: 520px;
    margin: 0 auto;
    color: #0E0E0E70;
    font-size: 14px;
}

.footer-container p {
    color: #0E0E0E70;
    font-size: 14px;
}

.footer-form-container .footer-inputs {
    padding: 24px 0;
}

.footer-container 
.footer-form-container
.footer-inputs
input[type=email] {
    padding: 15px 30px;
    width: 500px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.footer-container 
.footer-form-container
.footer-inputs
.btn {
    border-radius: 0 5px 5px 0;
    padding: 15px 25px;
}

.footer-inputs {
    display: flex;
    justify-content: center;
}

/* Footer-icon */
.footer-icon-container {
    text-align: center;
    align-items: center;
    background-color: #FFF;
}

.footer-text-content h4 {
    font-size: 23px;
    padding: 40px 0 25px 0;
}

#footer-icon-under-text-border {
    max-width: 70%;
    margin: 0 auto;
    border: 0.2px solid rgba(128, 128, 128, 0.386);
}

.footer-icon-container .footer-icon {
    font-size: 23px;
    padding: 25px 0 40px 0;
}

.footer-icon-container .footer-icon img {
    max-width: 24px;
    margin-right: 15px;
}

